@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans');

:root {
  font-size: 16px;
  --primary-color: #951a1d;
  --secondary-color: #6f0e13;
  --black: #222222;
  --grey: #f0f0f0;
}

html, body { height: 100%;}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  /* display: grid;
  grid-template-rows: 300px 50px 1fr 50px; */
}

header {
  font-family: 'Lora';
  text-shadow: 1px 1px 1px var(--black);
  background-color: var(--primary-color);
  padding: 25px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header:before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("kisspng-flask-python-bottle-web-framework-web-application-flask-5ace6e94133f66.5495283515234781640788.png");
  background-repeat: no-repeat;
  /* background-position: 20% 0; */
  background-size: contain;
  width: 200px;
  height: 200px;
  opacity: 0.6;
  top: 0;
  left: 10%;
}

h1 {
  font-family: 'Lora';
  font-size: 2rem;
  font-weight: bold;
}

header p {
  font-style: italic;
}

h2 {
  font-family: 'Lora';
  font-size: 1.5rem;
}

nav {
  background-color: var(--secondary-color);
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 10px 0;
}

nav ul li {
  display: inline-block;
  margin: 0 40px 0 0;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

main {
  flex: 3;
  margin-right: 10px;
}

aside {
  flex: 1;
  background-color: var(--grey);
  border-radius: 5px;
  padding: 0 25px 25px 25px;
  min-height: 300px;
}

footer {
  position: sticky;
  top: 100vh;
  background-color: var(--black);
  padding: 25px;
  margin-top: 100px;
  color: white;
}

address {
  font-family: 'Lora', sans-serif;
  font-style: italic;
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 480px;
  }

  .flex-wrapper {
    flex-direction: column;
  }

  main,
  aside,
  nav ul {
    margin: 0 20px;
  }

  header p {
    text-align: center;
  }

  header:before {
    left: -5%;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .flex-wrapper {
    flex-direction: column;
  }

  header:before {
    left: 1%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .flex-wrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  header:before {
    left: 15%;
  }
}